appdirs==1.4.3
attrs==19.3.0
biopython==1.76
black==19.10b0
Click==7.0
colorful==0.5.4
cycler==0.10.0
kiwisolver==1.1.0
matplotlib==3.1.2
more-itertools==8.1.0
numpy==1.18.1
packaging==20.0
pandas==0.25.3
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.3.4
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
regex==2020.1.8
scipy==1.4.1
seaborn==0.9.0
six==1.14.0
toml==0.10.0
typed-ast==1.4.1
wcwidth==0.1.8
